:root {
  --header-width: 300px;

  --background-color: #4B415F;
  --header-color: #0a00117b;
  --footer-color: #403249;
  --link-hover-color: #9e48d3;
}


a {
  color: white;
}

a:hover {
  color: var(--link-hover-color)
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}


header {
  background-color: var(--header-color);
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}


header #profile_pic {
  width: 100px !important;
  height: 100px !important;
  float: left;
  position: fixed;
}


nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 17px;
}


nav a {
  text-decoration: none;
}


main {
  margin-left: 100px;
  display: flex;
  flex-direction: row-reverse;
}


main div {
  color: white;
  width: 100%;
}


main div h1 {
  text-align: center;
  font-size: 50pt;
  font-weight: 400;
  margin-top: 0;
}


main div p {
  padding: 4px 50px;
  font-size: 20pt;
}


main #homepage_picture {
  border-radius: 0 0 0 100px;
  width: 40%;
  height: 40%;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-color);
  color: white;
  text-align: center;
  padding: 10px 0;
}
