:root {
  --primary: rgb(0, 163, 59);
  --primary-dark: #04772e;
  --footer-sns-color: rgb(0, 52, 52);
  --footer-copyright-color: rgb(0, 42, 42);

  --title-background: linear-gradient(70deg, rgb(0,200,70), rgb(72, 206, 99) 40%,rgb(72, 206, 99)60%, rgb(0,200,70));

  --link-hover:rgb(0, 220, 20);

  font-family: "Open Sans",sans-serif;
}

/* START BASICS */
body {
  margin: 0;
}

a {
  color: white;
  fill: white;
}
a:hover {
  color: var(--link-hover);
  fill: var(--link-hover);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
/* END BASICS */

/* START Header */
header {
  background-color: var(--primary);
  position: relative;
  overflow: hidden;
  height: 55px;
}

header a {
  text-decoration: none;
  text-align: center;
  float:left;
  padding: 0px 16px;
  margin: 0;
  height: 55px;
  line-height: 55px;
}
header a:hover {
  color: var(--link-hover);
  fill: var(--link-hover);
  background-color: var(--primary-dark);
}

#site_logo img {
  margin-top: -6px;
}

#top_centered {
  float: none;
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  height: 55px;
}

nav a {
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
  font-weight: 550;
}

#top_right {
  float: right;
  height: 55px;
}
#top_right ul {
  margin: 0;
}
#top_right ul li {
  display: inline;
}
#top_right ul li svg {
  padding-top: 15px;
}


/* END Header */


/* START Footer */
#footer_social {
  margin: 0;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 7px;
  background-color: var(--footer-sns-color);
}

#footer_social li {
  padding: 0 15px;
  display: inline;
}

#footer_social li a {
  text-decoration: none;
}

#footer_copyright {
  font-size: small;
  margin: 0;
  padding: 7px 0;
  color: grey;
  text-align: center;
  background-color: var(--footer-copyright-color);
}
/* END Footer */
