{{ define "main" }}
<section id="list-page">
	<h2>{{ .Title }}</h2>

	<div class="grid">
		{{ range .Pages }}
		<div class="card">
			<div class="card-content">
				<h3 class="card-title"><a href="{{ .Permalink }}" style="color: inherit; text-decoration: none;">{{
						.Title }}</a></h3>
				<p style="font-size: 0.8rem; color: var(--accent-green);">{{ .Date.Format "January 2, 2006" }}</p>
				<p>{{ .Summary }}</p>
				<a href="{{ .Permalink }}" class="cta-button" style="padding: 0.4rem 1rem; margin-left: 0;">Read
					More</a>
			</div>
		</div>
		{{ end }}
	</div>
</section>
{{ end }}
