body {
	display: flex;
	flex-flow: column;
	background: rgb(34,3,65);
	background: linear-gradient(170deg, rgba(19, 0, 39,1) 3%, rgba(9,11,29,1) 30%, rgba(9,11,29,1) 70%, rgba(19, 0, 39,1) 97%);
	z-index: -2;

	color: whitesmoke;
	margin: auto;
	max-width: 750px;
	padding: 0 1em;
}

#title {
	font-size: 7em;
	margin: 0.5em 0;
	font-weight: 900;
	display: flexbox;
}

#title .left {
	font-size: 1.2em;
	position: relative;
	display: flex;
	top: 0.4em;
	background: linear-gradient(345deg, rgba(11, 0, 20, 0) 18%, rgba(118, 0, 157, 1) 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#title .right {
	position: relative;
	display: flex;
	justify-content: flex-end;
	bottom: 0.4em;
	background: linear-gradient(165deg, rgba(11, 0, 20, 0) 27%, rgba(0, 157, 2, 1) 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}


h1 {
	font-size: 7em;
	background: linear-gradient(0deg, rgba(11, 0, 20, 0) 15%, rgba(118, 0, 157, 1) 55%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 0.5em;
	margin-block-end: 0;
	margin-left: 0;
	margin-top: 0.4em;
}

h2 {
	font-size: 3em;
	background: linear-gradient(0deg, rgba(11, 0, 20, 0) 12%, rgba(0, 157, 2, 1) 55%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 0.7em;
	margin-block-end: 0;
	text-align: center;
	margin-left: 0;
	margin-top: 0.2em;
}

p {
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	line-height: 1.5;
	z-index: 1;
}

ul {
	z-index: 1;
	text-align: center;
}

li {
	list-style-position: inside;
    list-style-type: disclosure-closed;
}

a {
	color: rgba(0, 220, 2, 1);
}

a:hover {
	color: rgba(0, 250, 0, 1);
}

.presentation-box {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.presentation-box p {
	text-align: left;
	max-width: 280px;
}
.presentation-box div {
	display: flex;
	flex-flow: column;
	position: relative;
	bottom: 1.8em;
}
.presentation-box .links {
	text-align: center;
	margin-top: auto;
}
.presentation-box .links span {
	color:darkgrey;
}
.presentation-box img {
	border-radius: 14%;
}


@media (max-width: 630px) {
	body,
	html {
		overflow-x: hidden;
	}

	#title {
		font-size: 3em;
		margin: 0.5em 0;
		font-weight: 900;
		display: flexbox;
	}

	#title .left {
		background: linear-gradient(345deg, rgba(11, 0, 20, 0) 8%, rgba(118, 0, 157, 1) 60%);
		font-size: 1.2em;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#title .right {
		background: linear-gradient(165deg, rgba(11, 0, 20, 0) 17%, rgba(0, 157, 2, 1) 80%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h1 {
		font-size: 3.8em;
		top: 0.5em;
	}

	h2 {
		font-size: 2em;
		top: 0.5em;
	}

	.presentation-box {
		flex-flow: column;
	}
	.presentation-box p {
		text-align: center;
	}
}


@media (max-width: 400px) {
	body,
	html {
		overflow-x: hidden;
	}


	#title {
		font-size: 4em;
		margin: 0.5em 0;
		font-weight: 900;
		display: flexbox;
	}

	#title .left {
		font-size: 1.1em;
	}
	h1 {
		font-size: 3em;
		top: 0.7em;
	}

	h2 {
		font-size: 2em;
		top: 0.5em;
	}
}
