<nav class="navbar">
    <button class="menu-toggle" aria-label="Toggle menu">&#9776;</button>
    <div class="nav-left">
      <div class="nav-menu">
            {{ range site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>

    <div class="nav-right">
        {{ partial "social-icons.html" . }}
    </div>
</nav>

<div class="mobile-menu">
    {{ range site.Menus.main }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
</div>
