<div class="social-icons">
    <a href="https://www.youtube.com/@voylinsgamedevjourney" target="_blank" aria-label="YouTube">
        <img src="/icons/youtube.svg" alt="YouTube">
    </a>
    <a href="https://github.com/voylinsgamedevjourney/" target="_blank" aria-label="GitHub">
        <img src="/icons/github.svg" alt="GitHub">
    </a>
    <a href="https://discord.gg/BdbUf7VKYC" target="_blank" aria-label="Discord">
        <img src="/icons/discord.svg" alt="Discord">
    </a>
    <a href="https://ko-fi.com/voylin" target="_blank" aria-label="Ko-fi">
        <img src="/icons/ko-fi.svg" alt="Ko-fi">
    </a>
</div>
