:root {
  --sidebar-size: 270px;
  --page-title-height: 50px;
  --main-padding: 20px 40px;

  --primary: rgb(0, 163, 59);
  --primary-dark: #04772e;

  --link-hover:rgb(0, 220, 20);
  
  --title-background: linear-gradient(70deg, rgb(0,200,70), rgb(72, 206, 99) 40%,rgb(72, 206, 99)60%, rgb(0,200,70));

  font-family: "Open Sans",sans-serif;
}

html {
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

header, .page-title {
  z-index: 1;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

header {
  height: 100%;
  width: var(--sidebar-size);
  position: fixed;
  left: 0;
  background-color: var(--primary); 
  padding-top: 20px;
}

header::-webkit-scrollbar {
  display: none;
}

.sidebar a {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.sidebar a:hover {
  color: rgb(0, 255, 0)
}

.sidebar ul {
  padding-inline-start: 0;
}

.sidebar li {
  display: block;
  margin-left: 0;
  padding: 13px 9px 13px 17px;
  border-bottom: rgba(85, 85, 85, 0.2) solid 2px;
}

.sidebar .blog_menu_item {
  padding-left: 37px;
  background-color: var(--primary-dark);
}

.sidebar .blog_menu_item {
  font-weight: 400;
  font-size: 17px;
}

.sidebar .blog_menu_item p {
  font-size: 9px;
  color: rgb(183, 192, 185);
  padding-top: 3px;
  margin: 0;
}

.sns-icons {
  padding: 0 15px;
  width: auto;
  display: flex;
}

.sns-icons a {
  fill: white;
  margin: auto;
}

.sns-icons a:hover {
  fill: rgb(0, 255, 0);
}

.page-title {
  background: var(--title-background);
  height: var(--page-title-height);
  position: sticky;
  display: flex;
}

.page-title .title {
  font-weight: 550;
  font-size: 36px;
  margin: auto;
  text-align: center;
}

.breadcrumbs {
  font-size: 12px;
  margin: 7px;
  position: absolute;
  align-self: flex-end;
}

.breadcrumbs a {
  fill: rgb(67, 74, 85);
  color: rgb(67, 74, 85);
  padding: 4px;
}

.breadcrumbs a:hover {
  fill: white;
  color: white;
}

main, footer, .page-title {
  margin-left: var(--sidebar-size);
}

main {
  padding: var(--main-padding);
  background-color: rgb(242, 255, 243);
}

footer p, footer a {
  color: rgb(197, 197, 197);
  margin: 0;
}

.bottom-bar {
  padding: 10px;
  background-color: rgb(30, 72, 72);
  display: flex;
  color: rgb(222, 222, 222);
}

.bottom-bar .left, .bottom-bar .right {
  width: 50%;
  align-self: flex-end;
}

.bottom-bar ul {
  padding-inline-start: 27px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.copyright {
  background-color: rgb(0, 42, 42);
  padding: 7px;
  text-align: center;
  font-size: 13px;
}