body {
	display: flexbox;
	background: rgb(34,3,65);
	background: linear-gradient(170deg, rgba(34,3,65,1) 3%, rgba(9,11,29,1) 30%, rgba(9,11,29,1) 70%, rgba(34,3,65,1) 97%);

	color: whitesmoke;
	margin: auto;
	max-width: 750px;
	padding: 0 1em;
}

#title {
	font-size: 7em;
	margin: 0.5em 0;
	font-weight: 900;
	display: flexbox;
}

#title .left {
	font-size: 1.2em;
	position: relative;
	display: flex;
	top: 0.4em;
	background: linear-gradient(345deg, rgba(11, 0, 20, 0) 18%, rgba(118, 0, 157, 1) 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#title .right {
	position: relative;
	display: flex;
	justify-content: flex-end;
	bottom: 0.4em;
	background: linear-gradient(165deg, rgba(11, 0, 20, 0) 27%, rgba(0, 157, 2, 1) 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}


h1 {
	font-size: 7em;
	background: linear-gradient(0deg, rgba(11, 0, 20, 0) 10%, rgba(118, 0, 157, 1) 55%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 60px;
	margin-block-end: 0;
	margin-left: 0;
	margin-top: 27px;
}

h2 {
	font-size: 3em;
	background: linear-gradient(0deg, rgba(11, 0, 20, 0) 10%, rgba(0, 157, 2, 1) 55%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 40px;
	margin-block-end: 0;
	margin-left: 0;
	margin-top: 10px;
}

p {
	padding-left: 2em;
	line-height: 1.5;
}


@media (max-width: 600px) {
	body,
	html {
		overflow-x: hidden;
	}

	#title {
		font-size: 3em;
		margin: 0.5em 0;
		font-weight: 900;
		display: flexbox;
	}

	#title .left {
		background: linear-gradient(345deg, rgba(11, 0, 20, 0) 8%, rgba(118, 0, 157, 1) 60%);
		font-size: 1.2em;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#title .right {
		background: linear-gradient(165deg, rgba(11, 0, 20, 0) 17%, rgba(0, 157, 2, 1) 80%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h1 {
		font-size: 4em;
		top: 45px;
	}

	h2 {
		font-size: 2em;
		top: 25px;
	}

	p {
		padding-left: 1em;
	}
}


@media (max-width: 400px) {
	body,
	html {
		overflow-x: hidden;
	}


	#title {
		font-size: 4em;
		margin: 0.5em 0;
		font-weight: 900;
		display: flexbox;
	}

	#title .left {
		font-size: 1.1em;
	}
	h1 {
		font-size: 3em;
		top: 35px;
	}

	h2 {
		font-size: 2em;
		top: 25px;
	}

	p {
		padding-left: 0.5em;
	}
}
